<h1>Listing Classes</h1>

<table>
  <thead>
    <tr>
      <th>Classes</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @class_sections.each do |class_section| %>
      <tr>
        <td><%= link_to class_section.description, users_path(type: 3, desc: 'Students', class_id: class_section.id) %></td>
        <% if current_user.type == 3 %>
       		<td><%= link_to 'Edit', edit_class_section_path(class_section) %></td>
        	<td><%= link_to 'Destroy', class_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class', new_class_section_path %>
