<div class="center hero-unit">
	<h1>Hey Jude</h1>

	<h2>Don't make it bad</h2>

	<a href = "http://www.metrolyrics.com/hey-jude-lyrics-beatles.html">Take a sad song and make it better,</a>

	<h3>Remember to let her into into your heart, </br>Then you can start to make it better.</h3>

	<%= link_to "Administrator", '#', class: "btn btn-large btn-primary top-thirty" %>

	<%= link_to "Teacher", '#', class: "btn btn-large btn-primary top-thirty" %>

	<%= link_to "Student", '#', class: "btn btn-large btn-primary top-thirty" %>

</div>