<div class="span6 offset1">
	<ul>
		<li><%= link_to "Alert Settings", edit_alert_setting_path(1) %></li>
		<li><%= link_to "Point System", points_path %></li>
		<li><%= link_to "Reports", reports_path %></li>
		<li><%= link_to "Terms", terms_path %></li>
	<ul>
</div>