<div class="span6 offset1">
	<ul>
		<li><%= link_to "Alert Settings", geronimo_settings_path %></li>
		<li><%= link_to "Alerts", alerts_path %></li>
		<li><%= link_to "Point System", points_path %></li>
		<li><%= link_to "Terms", terms_path %></li>
	<ul>
</div>