<h1>Password Reset</h1>
<div class="row">
	<div class="well">
		<%= form_tag password_resets_path, :method => :post, :class => 'form-horizontal' do %>
		  <div class="form-group">
			<div class="col-xs-2 control-label">
			<%= label_tag :email %>
			</div>
			<div class="col-xs-5">
				<%= text_field_tag :email, params[:email], :class=>'form-control' %>
				</br>
				<%= submit_tag "Reset Password" %>
				
			</div>
		  </div>
		<% end %>
	</div>
</div>
