<h1>Password Reset</h1>

<div class="span7" style="width:100%;">
    <div class="row">
        <div class="well">

		<%= form_tag password_resets_path, :method => :post do %>
		  <div class="field">
			<%= label_tag :email %>
			<%= text_field_tag :email, params[:email] %>
		  </div>
		  </br>
		  <div class="actions"><%= submit_tag "Reset Password" %></div>
		<% end %>
	</div>
     </div>
</div>