<td> <%= point.description %> </td>
<% if point.credit %>
	<td> <%= @credit = point.value %>
	     <% @sum += point.value %>
	 </td>
	<td></td>
<% else %>
	<td></td>
	<td> <%= @debit = -point.value %> 
		<% @sum -= point.value %>
	</td>
<% end %>

<td> <%= @sum %> </td>