<td> <%= point.description %> </td>
<% if point.credit %>
	<td> <%= @credit = point.assigned_point %>
		 <% @sum += point.assigned_point %>
	 </td>
	<td></td>
<% else %>
	<td></td>
	<td> <%= @debit = point.assigned_point %> 
		<% @sum += point.assigned_point %>
	</td>
<% end %>

<td> <%= @sum %> </td>