<h2>Listing points</h2>
<div class="alert alert-dismissable alert-success"> 	
    <div id="name" style='width:15%'>
    	<%= image_tag "star.png" %>  
    </div>
    <br/><br/>
    <div>
		<% if current_user.type == 1 || current_user.type == 2 %>
			Add School Points to encourage the student behaviour or report unfavourable behaviour, according to the school policy.</br> If the point is for bad behaviour make sure you enter negative points. For good behaviour, remember to check the <b>'Credit'</b> checkbox. Choose the Card given in case of bad behaviour, however that is not required. Parents will be notified in case of carded offence as the per the school policies as set in the Settings. Contact your administrator to know more.
		<% else %>
			Listing of points.</br>Carded Offences will be dealt with according to the school policies.<br/><br/>
		<% end %>
	</div> 
</div>

<% if current_user.type == 1 || current_user.type == 2 %>
	</br>
	<%= render 'form' %>
	<hr>
<% end %>

<table class="table" id='points_table'>
  <thead>
    <tr>
      <th>Description</th>
      <th>Value</th>
      <th>Carded Offences</th>
    </tr>
  </thead>

  <tbody>
    <% @points.each do |point| %>
      <%= render 'point_val', point: point %>
    <% end %>
  </tbody>
</table>

<br>
