<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear Sir/Ma'am,</p>
    <p>
      You are receiving this appreciation email because your ward, <%= @student.first_name %> <%= @student.last_name %>, has been given extra points for <% @point.description %>.<br/>
    </p>

    <p>Yours sincerely,</p>
    <p>School Administration.</p>
  </body>
</html>