<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Geronimo!!!,</h1>
    <p>
      You have successfully been added to the student management system - Geronimo!!!,
    </p>
   	<p>
	      Please follow the link to create your account by reseting the password at <%= @url %>/password_resets/new and enter this email address to identify yourself.
	</p>
	<p>You can login to the site at <%= @url %> and change your account settings.</p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>