<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.first_name %></h1>
    <p>
      <%= @user.username %> has gone down the threshhold of the least number of points achieved per year. We would like to have a word with you so please drop by the principal's office as soon as possible.<br>
    </p>
    <p>
      Please login to the site at geronimo.com.
    </p>
    <p>Have a great day!</p>
  </body>
</html>