<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear Sir/Ma'am,</p>
    <p>
      This is to inform you that your ward, <%= @student.first_name %> <%= @student.last_name %>'s, disciplinary points have reached the minimum required and if he fails to perform better and add to his discipline points we may be constrained to request to withdraw your ward from the school.<br>
    </p>
    <p>
      This is for your immediate attention. Please login to the disciplinary points site at <%= @url %>.
    </p>
    
    <p>Yours sincerely,</p>
    <p>School Administration.</p>
  </body>
</html>