<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.first_name %></h1>
    <p>
      <%= @student.first_name %> <%= @student.last_name %> has been caught committing the same fellony far too many times.<br>
    </p>
    <p>
      Please login to the site at <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>