<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear Moderator,</p>
    <p>
      You are receiving this email as you are the designated moderator of an idea that was flagged on the Geronimo Ideas Bank. Please log in to <%= @url %> in-order to find the issue. You can either accept the idea and add the comment as to why you found it relevant or speak to the owner of idea to modify it. The idea will not be displayed on the Ideas Portal until you accept it back.<br>
    </p>
    <p>
      This is for your immediate attention. Please login to the site on <%= @url %> to take appropriate action.
    </p>
    <p>Yours sincerely,</p>
    <p>Team Geronimo!</p>
  </body>
</html>