<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.first_name %></h1>
    <p>
      The new session has started, we hope you will have a great and exciting year ahead.<br>
    </p>
    <p>
      Please login to the site at <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>