<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.first_name %></h1>
    <p>
      <%= @user.username %> has been caught committing too many fellonies.</br>
    </p>
    <p>
      Please login to the site at geronimo.com.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>