<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Geronimo!!!,</h1>
    <p>
      You have successfully been added to the student management system - Geronimo!!!,
      Your username is: <%= @user.username %>.<br>
    </p>
   	<p>
	      Please follow the link <%= @url %>/password_resets/new and enter this email address to create your password. You will be sent a follow up email with instructions to change password. Please do so without fail.
	</p>
	<p>You can login to the site at <% @url %></p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>