<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Geronimo!!!, <%= @user.first_name %></h1>
    <p>
      You have successfully been added to the student management system - Geronimo!!!,
      your username is: <%= @user.username %>.<br>
    </p>
    <p>
      Please login to the site at <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>