<div class="row">
	<div class="span6 offset3">
		<%= if @user.student_points.any? %>
			<h3>Total Student Points ()</h3>
			<ol class="micropost">
				<%= render @student_points%>
			</ol>
			<%= will_paginate @student_points%>
		<% end %>
	</div>
</div>