<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @posting_portal.description %>
</p>

<%= link_to 'Edit', edit_posting_portal_path(@posting_portal) %> |
<%= link_to 'Back', posting_portals_path %>
