<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @teacher_role.description %>
</p>

<%= link_to 'Edit', edit_teacher_role_path(@teacher_role) %> |
<%= link_to 'Back', teacher_roles_path %>
