<footer class="container-fluid">
  <hr>
  <nav>
  	 <font size="2" color="grey"><center>Contact us with suggestions for improvement, meeting up for tea and cake or just to say hi at: team.geronimo.inc@gmail.com </br>©2014 MyGeronimo.com</center></font>
  </nav>
</footer>